*{
   /** border:lightcoral 1px solid;**/
   color:#9b5513;
}

html{
    background:#eee;
    background-image: url(img/LIMINAL-bg.jpg);
}

header{
    background-image: url(img/LIMINAL-bg.jpg);
}

header img{
    width:400px;
    display:block;
    object-fit: cover;
    height:auto;
}

nav{
    text-align: right;
    padding:10px;
}

nav li{
    display:inline;
    list-style:none;
    border-right:rgba(255, 166, 0,0.3) 1px solid;
}

nav li a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight:bold;
    padding:20px;
}

nav li a:hover{
    background:rgba(0,0,0,0.3);
    padding:25px 20px;
}

section p{
    margin:50px 200px;
    padding:10px;
    color:#9b5513;
}

footer{
    padding:50px;
    font-family:sans-serif;
    font-weight:bold;
}

footer a{
    text-decoration: none;
}

footer li{
    list-style:none;
    font-weight:normal;
}